.sidebar {
  display: flex;
  flex-flow: column;
}

.sidebar li {
  list-style: none;
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
}

.sidebar li span {
  margin-left: 0.5rem;
}

.user-profile-container {
  display: flex;
  align-items: center;
  flex-grow: 1;
  align-items: flex-end;
  padding: 1rem;
}
